body {
    margin-left: 30px;
}

#container {
    background-color: #6943FF;
    width: 550px;
    height: 285px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 28px;
    padding: 25px 0 10px 0;
}

input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button 
  {
    appearance: none;
  }

input {
    margin: 0 auto;
    color: white;
    width: 117px;
    height: 83px;
    text-align: center;
    align-content: center;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 60px;
}

button {
    display: block;
    margin: 25px auto;
    border: none;
    border-radius: 5px;
    background-color: white;
    width: 117px;
    height: 42px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#conversions {
    background-color: #1F2937;
    width: 550px;
    height: 444px;
    align-content: center;
}

#boxes {
    background-color: #273549;
    width: 500px;
    height: 108.57px;
    margin: 30px auto;
    font-size: 20px;
    text-align: center;
    align-content:space-around;
    font-weight: bold;
    color: #CCC1FF;
}

#length-el, #volume-el, #mass-el {
    color: white;
    font-size: 14px;
    font-family:Helvetica, sans-serif ;
    font-weight: 200;
}